<ion-header>
  <ion-toolbar>
    <ion-title>movieDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Popularidade: {{movie.popularity}}</ion-card-subtitle>
      <ion-card-title class="text-center">{{movie.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{movie.overview}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
